<ion-header>
  <ion-toolbar>
    <ion-title>Random {{dogsService.currentBreed}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img [src]="imageURL"></ion-img>

</ion-content>