<ion-header>
  <ion-toolbar>
    <ion-title>
      Remote JSON Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Hound Dogs
    </ion-list-header>
    <ion-item *ngFor="let item of items?.message" (click)="openImage(item)">
      {{item}}
    </ion-item>
  </ion-list>
</ion-content>